.env
comparisons/sector_comparison.ipynb
SmaCross.html
SmaCross(n1=10,n2=65).html
.streamlit/secrets.toml
alpaca/test1.ipynb
alpaca/test2.ipynb
docs/x.py
practice/app.py
practice/get_test_data.ipynb
practice/minimal_dash_app.ipynb
practice/minimal_dash_app.py
practice/polars_rebase.ipynb
practice/test_data.csv
practice/yfinance.ipynb
streamlit/.streamlit/secrets.toml
streamlit/database_app.py
streamlit/Hello.py
streamlit/uber_pickups.py
streamlit/pages/1_📈_Plotting_Demo.py
streamlit/pages/1_Market_Overview.py
streamlit/pages/2_🌍_Mapping_Demo.py
streamlit/pages/3_📊_DataFrame_Demo.py
options/underlying_prices.pickle
practice/globals.ipynb
practice/polars_check_box_in_dataframe.py
